# Скриване на тайните ключове
.env

# Скриване на виртуалната среда и кеша
venv/
__pycache__/
*.pyc

# Ако имаш папка с локални разговори/история
#chats/

main.py
demo.py
streamlit.png

*.bat
echo.bat
.idea/